@import 'variables';
@import 'container';
@import 'dialog';
@import 'aside';

@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TTLakes-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
}

* {
  margin: 0 !important;
  box-sizing: border-box;
  font-family: 'TTLakes-Medium';
}

body {
  background-color: #f8f8f8;
  color: #1b1c21;
  font-weight: 500;
  font-size: 16px;
  font-family: 'TTLakes-Medium', Georgia, serif;
  text-align: left;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
  header.desktop-ver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 40px;
  }

  .icon__logo {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 10px;
    height: 40px;
    padding-left: 35px;
    font-size: 28px;
    font-weight: 700;
    border-left: solid 3px #41f6d7;
  }

  .header__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .icon__img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .group__text {
    max-width: 175px;
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .navigation {
    max-height: 80px;
    min-height: 50px;
    padding: 10px;

    > ul {
      list-style: none;
      display: inline-flex;
      flex-wrap: wrap;
    }

    ul {
      text-align: center;
      display: flex;
      align-items: center;

      li a {
        height: 40px;
        font-size: 16px;
        font-weight: 500;
        color: #7e7e82;
        text-decoration: none;
        padding: 0 22px;
        border: solid 2px transparent;
        display: flex;
        align-items: center;

        &:hover {
          border: solid 2px #b8ffec;
          border-radius: 5px;
          background-color: #fff;
        }
      }
    }
  }

    main {
      padding: 25px;
      display: flex;
      flex-direction: row;

      .main-container > div {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .right-img img {
      border-radius: 10px;
      height: auto;
      max-width: 700px;
      display: flex;
    }

    .showall-btn {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      padding: 15px;

      a {
        text-decoration: none;
        color: #1b1c21;

        img {
          position: relative;
          top: 6px;
        }
      }
    }

    .name {
      padding: 16px;
      display: flex;
      color: #7e7e82;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      align-items: center;
      flex-wrap: wrap;
      border-top: solid 1px #d9fff5;
      background: linear-gradient(
        90deg,
        rgba(248, 248, 248, 1) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }

    .tablet-version {
      display: none;
    }

    #modalOpen-btn,
    #modalClose-btn, {
      border: none;
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }
    }

   .showAllButton2 {
     border: none;
     background-color: transparent;
     display: flex;
     align-items: center;
   }

    .body-end {
      border-top: solid 1px #d9fff5;
    }

    .repairCervice-wrapper {
      height: 280px;

      div {
        padding-top: 24px;
      }

      ul.repairCervice {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding-top: 24px;

        li {
          width: 240px;
          height: 160px;
          background-color: #ffffff;
          border: 1px solid #eaeaea;
          border-radius: 6px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          img {
            align-self: flex-end;
          }
        }
      }
    }

    .price-wrapper {
      max-width: 1056px;
      overflow-x: hidden;
      display: flex;
      justify-content: center;
      position: relative;
      left: 32px;

      .price-list {
        border-collapse: collapse;
        width: 100%;

        tr {
          background-color: #ffffff;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 95%;
            border-bottom: 1px solid #EAEAEA;
          }

          th {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #7E7E82;
            background-color: #f8f8f8;
            padding: 20px;
            width: 100%;
          }

          td {
            background-color: #ffffff;
            padding: 20px;

            &.order {
              text-align: right;
            }
            img {
              cursor: pointer;
            }
          }
        }
      }
    }

    .comment {
      font-weight: 400;
      width: 420px;
      font-size: 14px;
      line-height: 20px;
      padding-left: 32px;
    }
    .commertial-container {
      padding-left: 32px;

      img {
        padding-left: 9px;
      }
    }

    footer.body-end {
      color: #7E7E82;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      div {
        padding: 32px;

        .body-end2 {
          text-align: center;
        }

        .body-end3 {
          display: flex;
          justify-content: flex-end;
        }
      }

    }

@media (max-width: 768px) {
  .header__group {
    display: none;
  }

  .tablet-version {
    display: inline-flex;
    justify-content: space-between;
    border-bottom: solid 1px #cef1ec;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      box-sizing: border-box;
    }
  }

  .tablet-version-hide {
    display: none;
  }

  .inf {
    border-right: solid 1px #eaeaea;
  }

  .header__icon {
    padding-bottom: 10px;
  }

  .inf {
    display: none !important;
  }

  .separator {
    width: 2px;
    height: 27px;
    background-color: #dfd7d7;
    border-radius: 1px;
    align-self: center;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 0;

    .main__content2 {
      display: none;
    }

    .main__content1 {
      padding: 10px;
    }
  }

  .right-img > img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .navigation {
    max-width: 100%;
    overflow: hidden;

    ul {
      display: flex;
      overflow-x: auto;
      max-height: 50px;
      overflow-y: hidden;
      list-style: none;
      flex-wrap: nowrap;

      li {
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        white-space: nowrap;

        a {
          white-space: nowrap;
        }
      }
    }
  }

  .main-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1120px) {
  .header__group {
    display: none;
  }

  .tablet-version-hide {
    display: none;
  }

  header.tablet-version {
    display: inline-flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;
    background-color: #fff;
    border-bottom: solid 1px #cef1ec;
    padding: 10px;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .inf,
  .icon {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .icon {
    max-width: 115px;
  }

  .logo {
    gap: 35px;
  }

  .separator {
    width: 2px;
    height: 27px;
    background-color: #dfd7d7;
    border-radius: 1px;
    align-self: center;
  }

  .navigation {
    width: 100%;
    overflow: hidden;

    ul {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      list-style: none;
      flex-wrap: nowrap;

      li {
        height: 40px;
        display: flex;
        align-items: center;
        white-space: nowrap;
      }
    }
  }

  main.content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1121px) {
  body {
    padding-left: 300px;
    padding-right: 10px;
  }
}
