.swiper {
  display: none;
}

.swiper-slide {
  border: solid 1px #eaeaea;
}

.tablet-ver__btn,
.pc-ver__btn {
  width: 240px;
  background-color: #ffffff;
  border-radius: 6px;
  height: 72px;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #eaeaea;
}

.tablet-ver {
  background-color: .tablet-ver background-color;
}

.tablet-ver__brandlist {
  box-sizing: border-box;
  padding: 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

#showAllButton {
  display: flex;
  align-items: center;
  color: #1b1c21;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media (min-width: 1121px) {
  .brand-container {
    box-sizing: border-box;
  }
  .pc-ver__btn {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1120px) {
  .brand-container {
    box-sizing: border-box;
  }
  .tablet-ver__brandlist .tablet-ver__btn:nth-child(n+7) {
    display: none;
  }
  .pc-ver__btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .brand-container {
    margin: 0;
    box-sizing: border-box;
  }
  .tablet-ver {
    display: none;
  }
  article {
    width: 100%;
    margin: 0;
  }
  .swiper {
    display: flex;
    width: 100%;
    background-color: #f8f8f8;
    padding-bottom: 30px;
    padding-top: 16px;
    margin: 0;
  }
  .swiper-pagination-bullet {
    background: #dddddd;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #b5b6bc;
    opacity: 1;
  }
  .swiper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    pointer-events: none;
    background: linear-gradient(to left, rgb(248, 248, 248) 0%, rgba(248, 248, 248, 0.6) 40%, rgba(248, 248, 248, 0) 100%);
    z-index: 5;
  }
  div.swiper-slide {
    background-color: #ffffff;
    border-radius: 6px;
    max-width: 240px;
    height: 72px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: solid 1px #eaeaea;
  }
}
.modal {
  width: 320px;
  min-height: 2000px;
  height: 100vh;
  border: none;
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  z-index: 999;
}
.modal main {
  overflow-x: hidden;
}
.modal main.container {
  padding: 0;
}
.modal header {
  display: inline-flex;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
.modal .search {
  position: relative;
  left: 67px;
}
.modal ul {
  list-style: none;
  padding: 0;
}
.modal ul > li {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-left: solid 4px transparent;
  transition: color 0.3s ease, transform 0.3s ease;
}
.modal ul > li:hover {
  border-left: solid 4px #41f6d7;
  color: #7e7e82;
  cursor: pointer;
  transform: scale(1.1);
  transform: translateX(1px);
}
.modal footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 0px;
  border: none;
  position: fixed;
  bottom: 0;
}
.modal footer > div {
  padding: 0px 24px;
}
.modal svg {
  cursor: pointer;
}
.modal .footer {
  display: flex;
  gap: 16px;
}
.modal a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: visible;
  transition: filter 0.3s ease;
}
.modal a:hover {
  filter: brightness(0.7);
  cursor: pointer;
}
.modal .footer svg {
  display: block;
  width: 100%;
  height: 100%;
}
.modal .tel {
  font-family: "TTLakes-Bold";
  font-size: 24px;
}
.modal .language {
  padding-bottom: 10px;
  padding-left: 20px;
}
.modal .language a {
  padding: 5px;
  text-decoration: none;
  color: black;
}
.modal .language a:hover {
  color: #7e7e82;
}

.modal__desktop {
  width: 300px;
  height: 100%;
  border: none;
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  flex-direction: column;
}
.modal__desktop header {
  display: inline-flex;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
.modal__desktop .left__logo {
  padding-left: 22px;
}
.modal__desktop .search {
  position: relative;
  left: 67px;
}
.modal__desktop ul {
  list-style: none;
  padding: 0;
}
.modal__desktop ul > li {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-left: solid 4px transparent;
  transition: color 0.3s ease, transform 0.3s ease;
}
.modal__desktop ul > li:hover {
  border-left: solid 4px #41f6d7;
  color: #7e7e82;
  cursor: pointer;
  transform: scale(1.1);
  transform: translateX(1px);
}
.modal__desktop footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 0px;
  border: none;
  position: fixed;
  bottom: 0;
}
.modal__desktop footer > div {
  padding: 0px 24px;
}
.modal__desktop svg {
  cursor: pointer;
}
.modal__desktop .footer {
  display: flex;
  gap: 16px;
}
.modal__desktop a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: visible;
  transition: filter 0.3s ease;
}
.modal__desktop a:hover {
  filter: brightness(0.7);
  cursor: pointer;
}
.modal__desktop .footer svg {
  display: block;
  width: 100%;
  height: 100%;
}
.modal__desktop .tel {
  font-family: "TTLakes-Bold";
  font-size: 24px;
}
.modal__desktop .language {
  padding-bottom: 10px;
  padding-left: 20px;
}
.modal__desktop .language a {
  padding: 5px;
  text-decoration: none;
  color: black;
}
.modal__desktop .language a:hover {
  color: #7e7e82;
}

@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  margin: 0 !important;
  box-sizing: border-box;
  font-family: "TTLakes-Medium";
}

body {
  background-color: #f8f8f8;
  color: #1b1c21;
  font-weight: 500;
  font-size: 16px;
  font-family: "TTLakes-Medium", Georgia, serif;
  text-align: left;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

header.desktop-ver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 40px;
}

.icon__logo {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 10px;
  height: 40px;
  padding-left: 35px;
  font-size: 28px;
  font-weight: 700;
  border-left: solid 3px #41f6d7;
}

.header__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon__img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
}

.group__text {
  max-width: 175px;
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.navigation {
  max-height: 80px;
  min-height: 50px;
  padding: 10px;
}
.navigation > ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
}
.navigation ul {
  text-align: center;
  display: flex;
  align-items: center;
}
.navigation ul li a {
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7e7e82;
  text-decoration: none;
  padding: 0 22px;
  border: solid 2px transparent;
  display: flex;
  align-items: center;
}
.navigation ul li a:hover {
  border: solid 2px #b8ffec;
  border-radius: 5px;
  background-color: #fff;
}

main {
  padding: 25px;
  display: flex;
  flex-direction: row;
}
main .main-container > div {
  color: #1b1c21;
  font-size: 14px;
  font-weight: 400;
}

.right-img img {
  border-radius: 10px;
  height: auto;
  max-width: 700px;
  display: flex;
}

.showall-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
}
.showall-btn a {
  text-decoration: none;
  color: #1b1c21;
}
.showall-btn a img {
  position: relative;
  top: 6px;
}

.name {
  padding: 16px;
  display: flex;
  color: #7e7e82;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  flex-wrap: wrap;
  border-top: solid 1px #d9fff5;
  background: linear-gradient(90deg, rgb(248, 248, 248) 0%, rgb(255, 255, 255) 100%);
}

.tablet-version {
  display: none;
}

#modalOpen-btn,
#modalClose-btn {
  border: none;
  background-color: transparent;
}
#modalOpen-btn:hover,
#modalClose-btn:hover {
  cursor: pointer;
}

.showAllButton2 {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.body-end {
  border-top: solid 1px #d9fff5;
}

.repairCervice-wrapper {
  height: 280px;
}
.repairCervice-wrapper div {
  padding-top: 24px;
}
.repairCervice-wrapper ul.repairCervice {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-top: 24px;
}
.repairCervice-wrapper ul.repairCervice li {
  width: 240px;
  height: 160px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.repairCervice-wrapper ul.repairCervice li img {
  align-self: flex-end;
}

.price-wrapper {
  max-width: 1056px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  left: 32px;
}
.price-wrapper .price-list {
  border-collapse: collapse;
  width: 100%;
}
.price-wrapper .price-list tr {
  background-color: #ffffff;
  position: relative;
}
.price-wrapper .price-list tr:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  border-bottom: 1px solid #EAEAEA;
}
.price-wrapper .price-list tr th {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  background-color: #f8f8f8;
  padding: 20px;
  width: 100%;
}
.price-wrapper .price-list tr td {
  background-color: #ffffff;
  padding: 20px;
}
.price-wrapper .price-list tr td.order {
  text-align: right;
}
.price-wrapper .price-list tr td img {
  cursor: pointer;
}

.comment {
  font-weight: 400;
  width: 420px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 32px;
}

.commertial-container {
  padding-left: 32px;
}
.commertial-container img {
  padding-left: 9px;
}

footer.body-end {
  color: #7E7E82;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer.body-end div {
  padding: 32px;
}
footer.body-end div .body-end2 {
  text-align: center;
}
footer.body-end div .body-end3 {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .header__group {
    display: none;
  }
  .tablet-version {
    display: inline-flex;
    justify-content: space-between;
    border-bottom: solid 1px #cef1ec;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
  }
  .tablet-version div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
  }
  .tablet-version-hide {
    display: none;
  }
  .inf {
    border-right: solid 1px #eaeaea;
  }
  .header__icon {
    padding-bottom: 10px;
  }
  .inf {
    display: none !important;
  }
  .separator {
    width: 2px;
    height: 27px;
    background-color: #dfd7d7;
    border-radius: 1px;
    align-self: center;
  }
  main {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  main .main__content2 {
    display: none;
  }
  main .main__content1 {
    padding: 10px;
  }
  .right-img > img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  .navigation {
    max-width: 100%;
    overflow: hidden;
  }
  .navigation ul {
    display: flex;
    overflow-x: auto;
    max-height: 50px;
    overflow-y: hidden;
    list-style: none;
    flex-wrap: nowrap;
  }
  .navigation ul li {
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;
  }
  .navigation ul li a {
    white-space: nowrap;
  }
  .main-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1120px) {
  .header__group {
    display: none;
  }
  .tablet-version-hide {
    display: none;
  }
  header.tablet-version {
    display: inline-flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;
    background-color: #fff;
    border-bottom: solid 1px #cef1ec;
    padding: 10px;
  }
  header.tablet-version > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .inf,
  .icon {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .icon {
    max-width: 115px;
  }
  .logo {
    gap: 35px;
  }
  .separator {
    width: 2px;
    height: 27px;
    background-color: #dfd7d7;
    border-radius: 1px;
    align-self: center;
  }
  .navigation {
    width: 100%;
    overflow: hidden;
  }
  .navigation ul {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    flex-wrap: nowrap;
  }
  .navigation ul li {
    height: 40px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  main.content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1121px) {
  body {
    padding-left: 300px;
    padding-right: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
