.name {
  font-family: "TT-Lakes";
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
}

.swiper {
  display: none;
}

.swiper-slide {
  border: solid 1px #eaeaea;
}

.name {
  height: 40px;
  margin: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-top: solid 1px #d9fff5;
  background: #f8f8f8;
  background: linear-gradient(90deg, rgb(248, 248, 248) 0%, rgb(255, 255, 255) 100%);
}

.tablet-ver__btn,
.pc-ver__btn {
  width: 240px;
  background-color: #ffffff;
  border-radius: 6px;
  height: 72px;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #eaeaea;
}

.tablet-ver {
  background-color: #f8f8f8;
}

.tablet-ver__brandlist {
  box-sizing: border-box;
  padding: 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

#showAllButton {
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media (min-width: 1121px) {
  body {
    box-sizing: border-box;
  }
  .pc-ver__btn {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1120px) {
  body {
    box-sizing: border-box;
  }
  .tablet-ver__brandlist .tablet-ver__btn:nth-child(n+7) {
    display: none;
  }
  .pc-ver__btn {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    margin: 0;
    box-sizing: border-box;
  }
  .tablet-ver {
    display: none;
  }
  article {
    width: 100%;
    margin: 0;
  }
  .swiper {
    display: flex;
    width: 100%;
    background-color: #f8f8f8;
    padding-bottom: 30px;
    padding-top: 16px;
    margin: 0;
  }
  .swiper-pagination-bullet {
    background: #dddddd;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #b5b6bc;
    opacity: 1;
  }
  .swiper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    pointer-events: none;
    background: linear-gradient(to left, rgb(248, 248, 248) 0%, rgba(248, 248, 248, 0.6) 40%, rgba(248, 248, 248, 0) 100%);
    z-index: 5;
  }
  div.swiper-slide {
    background-color: #ffffff;
    border-radius: 6px;
    max-width: 240px;
    height: 72px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: solid 1px #eaeaea;
  }
}
* {
  margin: 0px;
  font-family: "TTLakes-Medium";
  box-sizing: border-box;
}

aside {
  width: 320px;
  height: 100vh;
  min-height: 700px;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  overflow-y: auto;
  border: none;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  background: white;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 100;
}
aside.active {
  transform: translateX(0);
}
aside main {
  flex: 1;
}
aside header {
  display: inline-flex;
  align-items: center;
  padding: 23px;
  gap: 15px;
}
aside .search {
  position: relative;
  left: 67px;
}
aside ul {
  list-style: none;
  padding: 0;
}
aside ul > li {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-left: solid 4px transparent;
  transition: color 0.3s ease, transform 0.3s ease;
}
aside ul > li:hover {
  border-left: solid 4px #41f6d7;
  color: #7e7e82;
  cursor: pointer;
  transform: scale(1.1);
  transform: translateX(1px);
}
aside footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 0px;
  border: none;
}
aside footer > div {
  padding: 0px 24px;
}
aside svg {
  cursor: pointer;
}
aside .footer {
  display: flex;
  gap: 16px;
}
aside a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: visible;
  transition: filter 0.3s ease;
}
aside a:hover {
  filter: brightness(0.7);
  cursor: pointer;
}
aside .footer svg {
  display: block;
  width: 100%;
  height: 100%;
}
aside .tel {
  font-family: "TTLakes-Bold";
  font-size: 24px;
}
aside .language {
  padding-bottom: 10px;
  padding-left: 20px;
}
aside .language > a {
  padding: 5px;
  text-decoration: none;
  color: black;
}
aside .language > a:hover {
  color: #7e7e82;
}

@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  display: none;
}

body {
  background-color: #f8f8f8;
  color: #1b1c21;
  font-weight: 500;
  font-size: 16px;
  font-family: "TTLakes-Medium", Georgia, serif;
  text-align: left;
  height: auto;
  width: 100%;
}

header.desktop-ver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 40px;
}

.icon__logo {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 10px;
  height: 40px;
  padding-left: 35px;
  font-size: 28px;
  font-weight: 700;
  border-left: solid 3px #41f6d7;
}

.header__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon__img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
}

.group__text {
  max-width: 175px;
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.navigation > ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
}

.navigation {
  max-height: 80px;
  min-height: 50px;
  margin-left: 30px;
  margin-top: 5px;
}

.navigation > ul > li {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

ul li a {
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7e7e82;
  text-decoration: none;
  padding: 0 22px;
  border: solid 2px transparent;
  display: flex;
  align-items: center;
}

ul.navigation__list li a:hover {
  border: solid 2px #b8ffec;
  border-radius: 5px;
  background-color: #fff;
}

main {
  padding: 25px;
  display: flex;
  flex-direction: row;
}

.right-img img {
  border-radius: 10px;
  height: auto;
  width: 700px;
  display: flex;
}

.main-container > div {
  margin: 5px 35px;
  color: #1b1c21;
  font-size: 14px;
  font-weight: 400;
}

span.showall-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
}

span.showall-btn a {
  text-decoration: none;
  color: #1b1c21;
}

span.showall-btn > a > img {
  position: relative;
  top: 6px;
}

.tablet-version {
  display: none;
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0 !important;
  }
  .header__group {
    display: none;
  }
  header.tablet-version {
    border-bottom: solid 1px #cef1ec;
  }
  .tablet-version {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
  }
  .tablet-version > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
  }
  .inf {
    border-right: solid 1px #eaeaea;
  }
  .header__icon {
    padding-bottom: 10px;
  }
  .navigation {
    max-width: 100%;
    overflow: hidden;
  }
  .navigation ul {
    display: flex;
    overflow-x: auto;
    max-height: 50px;
    overflow-y: hidden;
    list-style: none;
    flex-wrap: nowrap;
  }
  .inf {
    display: none !important;
  }
  .logo > .separator {
    display: none;
  }
  .separator {
    width: 2px;
    height: 27px;
    background-color: #dfd7d7;
    border-radius: 1px;
    align-self: center;
  }
  .main__content2 {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .main__content1 {
    padding: 10px;
  }
  .right-img > img {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
  .navigation ul li {
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;
  }
  .navigation ul li a {
    white-space: nowrap;
  }
  .main-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1120px) {
  * {
    box-sizing: border-box;
    margin: 0 !important;
  }
  .header__group {
    display: none !important;
  }
  .tablet-version-hide {
    display: none !important;
  }
  header.tablet-version {
    display: inline-flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap !important;
    background-color: #fff;
    border-bottom: solid 1px #cef1ec;
    padding: 15px 10px;
  }
  .tablet-version > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .inf,
  .icon {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .icon {
    max-width: 115px;
  }
  .logo {
    gap: 35px;
  }
  .separator {
    width: 2px;
    height: 27px;
    background-color: #dfd7d7;
    border-radius: 1px;
    align-self: center;
  }
  .navigation {
    max-width: 100%;
    overflow: hidden;
  }
  .navigation ul {
    height: 100px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 !important;
    margin-top: 15px;
    list-style: none;
    flex-wrap: nowrap;
  }
  .navigation ul li {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;
  }
  main.content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
